/*
 * Leaflet Control GPS v1.0.2 - 2015-03-31
 *
 * Copyright 2014 Stefano Cudini
 * stefano.cudini@gmail.com
 * http://labs.easyblog.it/
 *
 * Licensed under the MIT license.
 *
 * Demos:
 * http://labs.easyblog.it/maps/leaflet-gps/
 *
 * Source:
 * git@github.com:stefanocudini/leaflet-gps.git
 *
 */

.leaflet-container .leaflet-control-gps {
    position:relative;
    float:left;
    background:#fff;
    color:#1978cf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*background-color: rgba(0, 0, 0, 0.25);*/
    background-color: rgba(255, 255, 255, 0.8);
    z-index:1000;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    margin-left:10px;
    margin-top:10px;
}
.leaflet-control-gps .gps-button {
    display:block;
    float:left;
    width:26px;
    height:26px;
    background: url('../img/gps-icon.png') no-repeat 2px 2px;
    border-radius:4px;
}
.leaflet-control-gps .gps-button:hover,
.leaflet-control-gps .gps-button.active:hover {
    background: url('../img/gps-icon.png') no-repeat 2px -24px #fff;
}
.leaflet-control-gps .gps-button.active {
    background: url('../img/gps-icon.png') no-repeat 2px -50px #fff;
}

.leaflet-control-gps .gps-alert {
    position:absolute;
    left:26px;
    bottom:-1px;
    width:100px;
    padding:2px;
    line-height:.95em;
    color:#e00;
    border: 1px solid #888;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius:4px;
}
