body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.map {
  height: calc(100% - 50px);
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}
.user{
    padding:5px;
    margin-bottom: 5px;
}

.ui-autocomplete {
  position: relative;
  top: 0;
  left: 0;
  max-height: 200px;
  max-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999999;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

/*Spinner*/
.spinner-overlay {
  background: rgba(0,0,0,.6);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  top: calc(50% - 20px);
  left: calc(50% - 20px);

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#message {
    border-radius: 10px;
    display: none;
    text-align: center;
    height: 50px;
    left: 50%;
    margin: -5% 0 0 -8%;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 16%;
    z-index: 1;
}

.success {
  background-color: rgba(99, 184, 98, 0.9);
}
.error {
  background-color: rgba(208, 66, 66, 0.9);
}
