<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <title>Geoportal Inwentaryzacja Orange</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/leaflet.css" />
    <link rel="stylesheet" href="../static/css/BootSideMenu.css">
    <link href="../static/css/style.css" rel="stylesheet">



    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="../static/js/leaflet.js"></script>

    <script type="text/javascript">
      var postGISUrl = "{{ url_for('postGIS') }}";
    </script>



</head>


<!-- Top panel -->
<body>
<div id="geojson">{{geojson}}</div>

<div id="message"><p></p></div>




<!-- Panel mapowy -->
  <div id="map" class="map">
    <script src="../static/js/map.js"></script>

  </div>

  </body>

</html>
